* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100lvh;
  background-image: linear-gradient(
    to bottom,
    rgba(79, 51, 176, 1),
    rgba(79, 51, 176, 1),
    rgba(210, 53, 165),
    rgba(210, 53, 165),
    rgba(79, 51, 176, 1)
  );
}

nav {
  width: 100%;
  background-color: #2b2c6d;
  border-bottom: 0.2rem solid #bc13fe;
  user-select: none;
  position: fixed;
  z-index: 1;
}

#hidden-top-nav {
  width: 100%;
  background-color: #2b2c6d;
  border-bottom: 0.2rem solid #bc13fe;
  user-select: none;
  height: 90px;
}

nav > div {
  margin: auto;
}

#side-bar {
  display: none;
}

#top-nav-div {
  display: flex;
  width: 100%;
  margin-bottom: 2px;
  font-size: 2.5rem;
  text-align: center;
  color: #fff653;
  text-shadow: 0 0 7px #fbf116;
}

#top-nav-div div {
  margin: auto;
}

#top-nav-div .nav-title {
  text-decoration: underline;
  font-size: 1.3rem;
  font-family: monospace;
  text-shadow: 0 0 7px #fbf116, 0 0 10px #fbf116;
}

#game-title {
  font-size: 1.5em;
  font-family: "Brush Script MT", cursive;
  color: #fff;
  text-shadow: 0 0 7px #bc13fe, 0 0 21px #bc13fe, 0 0 42px #bc13fe,
    0 0 82px #bc13fe;
  min-width: 8ch;
}

#settings-btn {
  cursor: pointer;
  font-size: small;
}

/* bottom side of nav bar for settings */
#config-nav-div {
  height: 30px;
  width: 100%;
  text-align: center;
  color: #fff;
}

.open-settings {
  display: flex;
}

.close-settings {
  display: none;
}

#config-nav-div div {
  margin: auto;
}

footer {
  margin-top: 20px;
  user-select: none;
}

footer header {
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;
  font-family: "Brush Script MT", cursive;
  font-size: 2.5rem;
  font-weight: 500;
  color: aqua;
  text-shadow: 0 0 7px rgb(165, 255, 255);
}

#honor-buttons-div {
  text-align: center;
  margin-bottom: 5px;
}

#intentos-btn {
  font-size: medium;
  cursor: pointer;
  padding: 0.4em;
  color: #fff;
  font-style: italic;
}

.selected-table-btn {
  text-decoration: underline;
}

#honor-buttons-div span:nth-of-type(2) {
  color: #fff;
}

#tiempos-btn {
  font-size: medium;
  cursor: pointer;
  padding: 0.4em;
  color: #fff;
  font-style: italic;
}

#score-tables-tries {
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto;
}

#score-tables-time {
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto;
}

.showing-table {
  display: flex;
}

.hidding-table {
  display: none;
}

#creditos {
  height: 50px;
  text-align: end;
  margin-top: 20px;
  background-color: aliceblue;
}

/* crazy table with rounded corners and bottom border at second child */
/* https://unused-css.com/blog/css-rounded-table-corners/ */
table {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: 1px solid black;
}
table > thead > tr:nth-child(2) > th,
table > thead > tr:nth-child(2) > td,
table > tbody > tr:nth-child(2) > th,
table > tbody > tr:nth-child(2) > td,
table > tfoot > tr:nth-child(2) > th,
table > tfoot > tr:nth-child(2) > td,
table > tr:nth-child(2) > td,
table > tr:nth-child(2) > th,
table > thead:nth-child(2),
table > tbody:nth-child(2),
table > tfoot:nth-child(2) {
  border-bottom: 1px solid black;
}

th {
  padding: 0 8px 0 8px;
}

td {
  padding: 8px;
  text-align: center;
}

.table-title {
  font-size: xx-large;
}

.config-1 {
  background-color: blueviolet;
  margin: auto;
  margin-top: 0;
  margin-bottom: 5px;
  font-family: "Courier New", Courier, monospace;
  min-width: 180px;
}

.config-2 {
  background-color: bisque;
  margin: auto;
  margin-top: 0;
  margin-bottom: 5px;
  font-family: "Courier New", Courier, monospace;
  min-width: 180px;
}

.config-3 {
  background-color: coral;
  margin: auto;
  margin-top: 0;
  font-family: "Courier New", Courier, monospace;
  min-width: 180px;
}

.cards-table {
  width: calc(100% - 10px);
  height: calc(100% - 85px);
  max-width: 1000px;
  max-height: 640px;
  min-height: 350px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(16.667% - 10px);
  height: calc(16.667% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 0px 5px 7px 0px rgba(0, 6, 56, 0.7);
  border-radius: 15px;
  background-color: antiquewhite;
  cursor: pointer;
}

.card .figure-up {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 35px;
  border-radius: 12px;
  display: none;
}

.card .figure-down {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: small;
  border-radius: 12px;
}

/* tarjetas volteadas para entrega */
.card:nth-of-type(5) .figure-up {
  display: flex;
}
.card:nth-of-type(5) .figure-down {
  display: none;
}
.card:nth-of-type(11) .figure-up {
  display: flex;
}
.card:nth-of-type(11) .figure-down {
  display: none;
}

@media screen and (max-height: 400px) and (orientation: landscape) {
  .cards-table {
    margin-left: 170px;
    width: calc(100% - 250px);
    min-width: 400px;
  }

  .cards-table-no-margin {
    margin-left: auto;
    width: 100%;
  }

  #side-bar {
    user-select: none;
    text-align: center;
    color: #fbf116;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 90px;
    background-color: #2b2c6d;
    border-right: 0.2rem solid #bc13fe;
  }

  #side-bar div {
    font-size: xx-large;
    margin: auto;
    text-shadow: 0 0 7px #fbf116, 0 0 10px #fbf116;
  }

  #side-bar .center-div {
    display: flex;
    flex-direction: row;
  }

  #side-bar .game-title {
    font-size: 2em;
    font-family: "Brush Script MT", cursive;
    color: #fff;
    text-shadow: 0 0 7px #bc13fe, 0 0 21px #bc13fe, 0 0 42px #bc13fe,
      0 0 82px #bc13fe;
  }

  #side-bar .nav-title {
    text-decoration: underline;
    font-size: 1.3rem;
    font-family: monospace;
    text-shadow: 0 0 7px #fbf116, 0 0 10px #fbf116;
  }

  nav {
    display: none;
  }

  #side-bar.hidding-sidebar {
    display: none;
  }
}
/* phone vertical view */
@media (orientation: portrait) {
  #game-title {
    font-size: 1em;
  }

  .cards-table {
    width: calc(100% - 10px);
    height: calc(100% - 85px);
    max-height: none;
    min-height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgb(110, 84, 48); */
  }

  .card {
    width: calc(25% - 10px);
    height: calc(11.11% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 0px 5px 7px 0px rgba(0, 6, 56, 0.7);
    background-color: antiquewhite;
  }
}
